<nav class="navbar bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand fw-bold" routerLink="/">API APP</a>

    <ul class="navbar-nav">
      <div class="d-flex justify-content-center align-items-center">
        <li class="nav-item mx-2">
          <a class="nav-link" routerLink="/contacts">Contactos</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" routerLink="/todo">Tareas</a>
        </li>
      </div>

    </ul>

  </div>
</nav>
